
@font-face {
 	font-family: 'GlobotipoTexto-Regular';
  	src:  url('GlobotipoTexto-Regular.eot?#iefix') format('embedded-opentype'),
  		  url('GlobotipoTexto-Regular.otf')  format('opentype'),
	      url('GlobotipoTexto-Regular.woff') format('woff'),
	      url('GlobotipoTexto-Regular.ttf')  format('truetype'),
	      url('GlobotipoTexto-Regular.svg#GlobotipoTexto-Regular') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
  	font-family: 'GlobotipoTexto-Bold';
  	src:  url('GlobotipoTexto-Bold.eot?#iefix') format('embedded-opentype'),
  		  url('GlobotipoTexto-Bold.otf')  format('opentype'),
	      url('GlobotipoTexto-Bold.woff') format('woff'),
	      url('GlobotipoTexto-Bold.ttf')  format('truetype'),
	      url('GlobotipoTexto-Bold.svg#GlobotipoTexto-Bold') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
    font-family: 'globotipo_textoblack';
    src: url('globotipotexto-black-webfont.woff2') format('woff2'),
         url('globotipotexto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}